i{
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding : 50px 50px;
    text-decoration: none;
    color: black;

}
h2{
    margin-left: 500px;
}
/* body{
  background-color: #371c06;
} */
/* table{
  border:2px solid black;
} */