.main{
    background-color: #e28e4a;
}  

.icon{
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    padding-right: 10px;
    padding-bottom: 20px;
}
.back i{
    text-decoration: none;
    color: #000;
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
.form{  
    width: 530px;
    height: 650px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 95%;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.form input{
    width: 330px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    margin-right: 0px;
    padding-left: auto;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
    opacity: 0.5;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}

label{
    color :#fff;
    font-family: Arial, Helvetica, sans-serif;
    size: 35px;    
}

.par{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #ff7200;
    font-size: 20px;
    
}
.par a{

    text-decoration: none;
    color: #ff7200;

    
}
.par :hover{
    color: #ffffff;
}
.error{
    color: #f00202;
}

